<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>本地好枕</title>

    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <!--禁止IOS识别号码 -->
    <meta content="email=no" name="format-detection"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <!--<link rel="stylesheet" href="../css/measure-step2.css">-->
    <link rel="stylesheet" href="../css/shopping-cart.css">
    <link rel="stylesheet" href="../css/assistant.css">
    <!--Font Awesome字体图标-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="head-back"><i class="fa fa-angle-left"></i></span>
    <span class="measure-step2-title cart-head assistant-title">
        <p class="cart-text">本地好枕</p>
        <p>Assistant</p>
    </span>
</div>

<!--主体模块-->
<div class="main fix">
    <div class="assistant">
        <!--左边列表选择部分-->
        <ul class="assistant-left">
            <li class="assistant-li" data-type="baby"><a href="javascript:;" class="active">新生儿 (3-6个月)</a></li>
            <li class="assistant-li" data-type="infant"><a href="javascript:;">幼儿 (6个月-2岁)</a></li>
            <li class="assistant-li" data-type="child"><a href="javascript:;">儿童 (3-9岁)</a></li>
            <li class="assistant-li" data-type="juvenile"><a href="javascript:;">少年 (10-18岁)</a></li>
            <li class="assistant-li" data-type="youth"><a href="javascript:;">青年 (19-34岁)</a></li>
            <li class="assistant-li" data-type="middleAge"><a href="javascript:;">青中年 (35-54岁)</a></li>
            <li class="assistant-li" data-type="oldAge"><a href="javascript:;">中老年 (55-99岁)</a></li>
            <li class="assistant-li" data-type="man"><a href="javascript:;">适宜男士</a></li>
            <li class="assistant-li" data-type="woman"><a href="javascript:;">女士精选</a></li>
            <li class="assistant-li" data-type="richMaterial"><a href="javascript:;">丰富材质</a></li>
        </ul>

        <!--右边详情-->
        <div class="assistant-right">
            <!--顶部大图-->
            <img id="topImg" class="top-img" src="">
            <!--数据列表-->
            <ul class="assistant-right-list" id="assistantRightList">
                <!--<li>-->
                    <!--&lt;!&ndash;左侧图片部分&ndash;&gt;-->
                    <!--<div class="list-left">-->
                        <!--<img src="../images/assistant-img-pink.png">-->
                        <!--<div class="img-bottom"></div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;右侧文本部分&ndash;&gt;-->
                    <!--<div class="list-right">-->
                        <!--<p class="list-title">粉色软管枕／浅粉色</p>-->
                        <!--<p class="list-subtitle">TPE Elastome</p>-->
                        <!--<div class="buy-button-wrap">-->
                            <!--<button class="buy-button">立即购买</button>-->
                        <!--</div>-->
                        <!--<p class="list-desc">粉色软管枕专门为女性打造，具有透气排热的特点，能够有效排出枕头内的热量，保持枕头内部温度提高睡眠质量</p>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <!--右边详情-->
    <!--<div class="assistant-right">-->
    <!--&lt;!&ndash;上边大图&ndash;&gt;-->
    <!--<img src="../images/assistant-bigimg-child.png" alt="">-->
    <!--&lt;!&ndash;下边详情&ndash;&gt;-->
    <!--<div class="assistant-particulars">-->
    <!--&lt;!&ndash;左边图片&ndash;&gt;-->
    <!--<img class="particulars-img" src="../images/assistant-img-pink.png" alt="">-->
    <!--&lt;!&ndash;右边介绍&ndash;&gt;-->
    <!--<span class="particulars-text">-->
    <!--<p class="text-title">粉色软管枕／浅粉色</p>-->
    <!--<p class="text-subtitle">TPE Elastome</p>-->
    <!--<a href="javascript:;" class="text-join">加入购物车</a>-->
    <!--<p class="text-intro">粉色软管枕专门为女性打造，具有透气排热的特点，能够有效排出枕头内的热量，保持枕头内部温度提高睡眠质量</p>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="assistant-particulars">-->
    <!--&lt;!&ndash;左边图片&ndash;&gt;-->
    <!--<img class="particulars-img" src="../images/assistant-img-blue.png" alt="">-->
    <!--&lt;!&ndash;右边介绍&ndash;&gt;-->
    <!--<span class="particulars-text">-->
    <!--<p class="text-title">蓝色软管枕／蓝色</p>-->
    <!--<p class="text-subtitle">TPE Elastome</p>-->
    <!--<a href="javascript:;" class="text-join">加入购物车</a>-->
    <!--<p class="text-intro">蓝色软管枕专门为精英男士打造，具有透气排热的特点，能够有效排出枕头内的热量，保持枕头内部温度提高睡眠质量</p>-->
    <!--</span>-->
    <!--</div>-->


</div>
<!--</div>-->
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/commonJs.js"></script>
<script src="../js/goBack.js"></script>
<script src="../js/assistant.js"></script>
</html>