<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Choise Assistant</title>

    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <!--禁止IOS识别号码 -->
    <meta content="email=no" name="format-detection"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/shopping-cart.css">
    <!--<link rel="stylesheet" href="../css/choise.css">-->
    <link rel="stylesheet" href="../css/choise-assistant.css">
    <!--Font Awesome字体图标-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="head-back"><i class="fa fa-angle-left"></i></span>
    <span class="measure-step2-title cart-head">
        <p class="cart-text">选枕助手的建议</p>
        <p>Choose Assistant</p>
    </span>
</div>

<!--主体部分-->
<div class="main">
    <ul class="cart-cont" id="cartCont">
        <!--<li class="cart fix">-->
            <!--&lt;!&ndash;左边介绍部分&ndash;&gt;-->
            <!--<div class="cart-left">-->
                <!--&lt;!&ndash;左边图片&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;左侧图片部分&ndash;&gt;&ndash;&gt;-->
                <!--<div class="left-img">-->
                    <!--<img class="cart-img" src="../images/assistant-img-cheese.png" alt="">-->
                    <!--<div class="img-bottom"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash;右边文字&ndash;&gt;-->
                <!--<div class="right-text">-->
                    <!--<p class="text-title">芝士乳胶条枕/本白色</p>-->
                    <!--<p class="text-subtitle">Cheese Latex</p>-->
                    <!--<p class="text-intro choise-intro">颜色Color：浅灰 French grey</p>-->
                    <!--<p class="text-intro">硬度Hardness：中低 Lower-mid</p>-->
                    <!--<p class="text-intro">弹性Elasticity：高 High</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;增加数量&ndash;&gt;-->
            <!--<p class="cart-right">&yen;499</p>-->
        <!--</li>-->
    </ul>
    <!--文字-->
    <div class="choose-text">
        <p>如果您不确定枕多高的枕头，想找到更</p>
        <p>合适您的枕头，可以选择智能颈部测量</p>
    </div>

    <!--选择-->
    <div class="vdetection">
        <a href="../view/measure.html" class="vdetection-link">
            <p class="vdetection-text">开始颈部曲线测量</p>
            <p>VDetection</p>
        </a>
    </div>

    <!-- 底部文字 -->
    <div class="choose-foot">
        <p>适配VDetection的测量高度，一人一枕的所有枕头都是有HUML高度分档，无论您选择哪</p>
        <p>款，我们都会提供合适的高度供您选择，具体需要定制请联系当地店面的营业员</p>
    </div>
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/commonJs.js"></script>
<script src="../js/goBack.js"></script>
<script src="../js/choise-assistant.js"></script>
</html>