<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>曲线测量-第6步 二维码</title>

    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <!--禁止IOS识别号码 -->
    <meta content="email=no" name="format-detection"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <!--<link rel="stylesheet" href="../css/measure-step2.css">-->
    <link rel="stylesheet" href="../css/shopping-cart.css">
    <link rel="stylesheet" href="../css/measure-step6.css">
    <!--Font Awesome字体图标-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<!--曲线测量部分  -->
<div class="head-name">
    <span class="head-back"><i class="fa fa-angle-left"></i></span>
    <span class="measure-step6-title">曲线测量</span>
</div>

<!--主体模块部分-->
<div class="main">

    <!--一人一枕描述部分-->
    <img class="measure-step6-desc" src="../images/measure-step6-desc.png" alt="">

    <!--一人一枕二维码部分-->
    <img class="measure-step6-img" src="../images/measure-step6-img.png" alt="">

    <!--扫码保存描述部分-->
    <p class="measure-step6-keep">扫码可将您的测量结果及订单保存至手机， 在“我的曲线”中查看您的颈部曲线数据 </p>

</div>

<!--底部模块-->
<div class="measure-step6-footer">
    <!--更多选择标题部分-->
    <div class="measure-step6-footitle">
        <p>更多选择 More </p>
    </div>

    <ul class="cart-cont fix">
        <li class="cart fix">
            <!--左边介绍部分-->
            <div class="step6-left">
                <!--左边图片-->
                <!--&lt;!&ndash;左侧图片部分&ndash;&gt;-->
                <span class="left-img">
                    <img class="cart-img" src="../images/assistant-img-cheese.png" alt="">
                    <div class="img-bottom"></div>
                </span>
                <!--右边文字-->
                <span class="right-text">
                <p class="step6-title">芝士乳胶条枕/本白色</p>
                <p class="step6-title">Cheese Latex</p>
                <a href="../view/texture-detail.html?type=cheese" class="step6-details">
                    <p>了解详情</p>
                </a>
                <p>颜色Color：浅灰 French grey</p>
                <p>硬度Hardness：中低 Lower-mid</p>
                <p>弹性Elasticity：高 High</p>
            </span>
            </div>
        </li>
        <li class="cart cart-blockright fix">
            <!--左边介绍部分-->
            <div class="step6-left">
                <!--左边图片-->
                <!--&lt;!&ndash;左侧图片部分&ndash;&gt;-->
                <span class="left-img">
                    <img class="cart-img" src="../images/assistant-img-cheese.png" alt="">
                    <div class="img-bottom"></div>
                </span>
                <!--右边文字-->
                <span class="right-text">
                <p class="step6-title">芝士乳胶条枕/本白色</p>
                <p class="step6-title">Cheese Latex</p>
                <a class="step6-details" href="../view/texture-detail.html?type=cheese">
                    <p>了解详情</p>
                </a>
                <p>颜色Color：浅灰 French grey</p>
                <p>硬度Hardness：中低 Lower-mid</p>
                <p>弹性Elasticity：高 High</p>
            </span>
            </div>
        </li>
    </ul>
</div>
</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/commonJs.js"></script>
<script src="../js/goBack.js"></script>
<script src="../js/measure-step6.js"></script>
</html>