<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>专属定制</title>

    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <!--禁止IOS识别号码 -->
    <meta content="email=no" name="format-detection"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/commen.css">
    <!--<link rel="stylesheet" href="../css/measure-step2.css">-->
    <link rel="stylesheet" href="../css/onepillow.css">
    <link rel="stylesheet" href="../plugins/swiper-4.4.1/css/swiper.min.css">
    <link rel="stylesheet" href="../plugins/swiper-4.4.1/css/animate.min.css">
    <!--Font Awesome字体图标-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!--固定头部-->
<div class="head-common">
    <img class="head-img" src="../images/head-img.png" alt="">
    <div class="head-text-wrap">
        <img class="head-text" src="../images/head-text.png" alt="">
    </div>
</div>

<!--模块名称部分-->
<div class="head-name">
    <span class="head-back"><i class="fa fa-angle-left"></i></span>
    <span class="onepillow-head">
        <p class="onepillow-text">专属定制 </p>
        <p>One PILLOW</p>
    </span>
</div>

<!--主题模块部分-->
<div class="main">
    <!--轮播图部分-->
    <div class="swiper-container onepillow">
        <div class="swiper-wrapper">
            <!--第一屏-->
            <div class="swiper-slide carousel-1">
                <img class="sleep-img" src="../images/onepillow-img2.png" alt="">
            </div>
            <!--第二屏-->
            <div class="swiper-slide carousel-2">
                <p class="introduce-text">VDetection的诞生源于一个单纯却用心的初衷:用人工智能技术来为人的睡眠升级。让每个人都
                    能找到适合自己高度的枕头，感受完美枕头带来的愉悦睡眠体验。整套系统包含:智能测量、调高系统、丰富材质选择。</p>
            </div>
            <!--第三屏-->
            <div class="swiper-slide carousel-3">
                <!--title部分-->
                <p class="onepillow-title">每个人的颈椎曲线都不一样</p>
                <p class="onepillow-subtitle">我要枕多高的枕头？</p>
                <!--图片部分-->
                <img class="onepillow-img" src="../images/onepillow-img1.png" alt="">
                <!--<p class="onepillow-VD">What’s  VDetection</p>-->
                <!--底部文字-->
                <p class="onepillow-foot">
                    VDetection智能测量包括多种人体测量的方法来提取人体颈部曲线，其中应用了深度学习和分体分割的视觉方式只需用手机拍摄一张侧面照面即可生成用户的头高和颈高数据，这会让您在选购枕头的时候轻松了解自己的合适高度，从此美梦变得简单。</p>
            </div>
            <!--第四屏-->
            <!--<div class="swiper-slide swiper-slide carousel-4">-->
                <!--&lt;!&ndash;视频部分&ndash;&gt;-->
                <!--<video width="100%"-->
                       <!--controls-->
                       <!--loop-->
                       <!--poster="../images/introduce-cover.png"-->
                       <!--webkit-playsinline="true"-->
                       <!--playsinline="true" class="carousel-video">-->
                    <!--<source src="../images/introduce.mp4" type="video/mp4">-->
                <!--</video>-->
            <!--</div>-->
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination sorter"></div>
    </div>

</div>


</body>
<script src="../js/jQuery-2.1.4.min.js"></script>
<script src="../js/flexible.js"></script>
<script src="../js/commonJs.js"></script>
<script src="../js/goBack.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.min.js"></script>
<script src="../plugins/swiper-4.4.1/js/swiper.animate.min.js"></script>
<script src="../js/onepillow.js"></script>
</html>